# Node.js / Angular
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.angular/
*.tgz

# .NET
*.exe
*.dll
*.dll.config
*.pdb
*.exe.config
*.cache
*.log
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# macOS
.DS_Store

# Cache files
*.cache

# IDE
*.idea/
*.vs/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/